*{
  padding: 0px;
  margin: 0px;
}

.main-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading{
  padding : 20px;
  padding-top: 20px;
  font-family: sans-serif;
}

.main-segment{
  width: 100%;
  text-align: center;
}

.card{
  display: flex;
  flex-direction: column;
  gap :2rem;
  align-content: space-around;
  border : 1px solid red;
  width : 400px;
  height: 100px;
  margin : 12px;
}

.card-container1{
  display: grid;
  
}

.card1{
  
  
  gap :2rem;
  
  
  width : 400px;
  height: 300px;
  margin : 20px;
}

.card-container{
  display: flex;
  gap :1rem;
  row-gap: 3rem;
  column-gap: 4rem;
  /* grid-template-columns: repeat(auto-fit, minmax(340px, 1fr)); */
}

.text-area-col{
  width: 34%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
}

.child-component{
  margin: 24px;
}

.nav-bar{
  width: 100%;
}

.value-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

